@{
    Layout = Constants.LOGIN_LAYOUT;
    ViewData["Title"] = "Forgot Password";
    ViewData["BodyClass"] = "forgot-password-page bg-body-secondary";
    ViewData["BoxClass"] = "forgot-box";
}

<p class="login-box-msg">Enter your email to receive a password reset link</p>
<form asp-action="SendEmailLink" asp-controller="Authentication" method="post">
    <div class="input-group mb-3">
        <div class="form-floating">
            <input id="forgotEmail" name="Email" type="email" class="form-control" placeholder="Email" required />
            <label for="forgotEmail">Email</label>
        </div>
        <div class="input-group-text"><span class="bi bi-envelope"></span></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary"><i class="bi bi-envelope-paper me-2"></i> Send Reset Link</button>
            </div>
        </div>
    </div>
</form>
<p class="social-auth-links text-center mb-3 d-grid gap-2">
    <a asp-controller="Authentication" asp-action="Index" class="btn btn-primary"><i class="bi bi-person-plus me-2"></i> Back to login</a>
</p>