@model LoginRequest
@{
    Layout = Constants.LOGIN_LAYOUT;
    ViewData["Title"] = "Login";
    ViewData["BodyClass"] = "login-page bg-body-secondary";
    ViewData["BoxClass"] = "login-box";
}

<p class="login-box-msg">Sign in to start your session</p>
<form asp-action="Login" asp-controller="Authentication" method="post">
    <div class="input-group mb-1">
        <div class="form-floating">
            <input id="loginEmail" asp-for="Email" type="email" placeholder="" minlength="6" maxlength="255"
                autocomplete="email" class="form-control" required />
            <label for="loginEmail">Email</label>
        </div>
        <div class="input-group-text"><span class="bi bi-envelope"></span></div>
    </div>
    <span class="text-danger" asp-validation-for="Email"></span>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input id="loginPassword" asp-for="Password" type="password" placeholder="" minlength="8" maxlength="64"
                autocomplete="current-password" class="form-control" required />
            <label for="loginPassword">Password</label>
        </div>
        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
    </div>
    <span class="text-danger" asp-validation-for="Password"></span>
    <div class="row">
        <div class="col-8 d-inline-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rememberMe" asp-for="IsRememberMe" />
                <label class="form-check-label" for="rememberMe"> Remember Me </label>
            </div>
        </div>
        <div class="col-4">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </div>
</form>
<div class="social-auth-links text-center mb-3 d-grid gap-2">
    <a asp-controller="Authentication" asp-action="Register" class="btn btn-primary"><i
            class="bi bi-person-plus me-2"></i> Register a new membership</a>
    <a asp-controller="Authentication" asp-action="ForgotPassword" class="btn btn-danger"><i class="bi bi-key me-2"></i>
        I forgot my password</a>
</div>