@model UpdatePasswordViewModel
@{
    Layout = Constants.LOGIN_LAYOUT;
    ViewData["Title"] = "Reset Password";
    ViewData["BodyClass"] = "reset-password-page bg-body-secondary";
    ViewData["BoxClass"] = "reset-box";
}

<p class="reset-box-msg">Set your new password</p>
<form asp-action="ResetPassword" asp-controller="Authentication" method="post">
    @* include the token as hidden field *@
    <input type="hidden" asp-for="Token" value="@ViewBag.Token" required />

    <div class="input-group mb-1">
        <div class="form-floating">
            <input id="newPassword" asp-for="Password" type="password" minlength="8" maxlength="17" class="form-control" placeholder="New Password" required />
            <label for="newPassword">New Password</label>
        </div>
        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
    </div>
    <span class="text-danger" asp-validation-for="Password"></span>
    <div class="input-group mb-1">
        <div class="form-floating">
            <input id="confirmPassword" asp-for="ConfirmPassword" minlength="8" maxlength="17" type="password" class="form-control"
                placeholder="Confirm Password" required />
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
    </div>
    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    <div class="row">
        <div class="col-12">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </div>
</form>
<p class="mt-3 mb-0 text-center">
    <a asp-controller="Authentication" asp-action="Index" class="btn btn-primary text-white w-100">Back to login</a>
</p>